#popup {
    width : 680px;
/*    min-height: 480px;*/
    padding: 1em 0;
    border: solid 1px #ddd;
}
.py-10{
  padding: 10px 0;
}
.page{
  margin :0 1em;
  padding: 1em;
  border-radius: 4px;
  margin-bottom: 0;
}

.course-page .course{
  margin-bottom:1em;
}
.course-page .course-section{
  padding:.5em 0;
}
.course-page .accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}
.course-page .accordion-button:not(.collapsed) {
    color: inherit; 
    background-color: transparent;
    box-shadow: none; 
}
.course-page .accordion-button:not(.collapsed),
.course-page .accordion-button.collapsed,
.course-page .accordion-button:not(.collapsed)::after,
.course-page .accordion-button.collapsed::after{
  background:none;
}
.course-page .accordion-button.custom {
/*position: absolute;*/
    width: 22px;
    padding: 0px 6px;
/*    left: 42px;*/
    margin-top: 3px;
    background: none;
    font-size: 10px;
 }
 .course-page .accordion-body{
  padding:0;
 }

.welcome-page .action-cnt{
  text-align:center;
  padding:.5em;
}
.welcome-page .btn-cnt{
  margin:1em;
}
.welcome-page{
  color: red;
}
#popup > .app-container > .console{
 margin-bottom: -33px;
  width: 100%;
}

.page-navigation ul.btn-group{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-navigation ul.btn-group > li > a{
  margin: .5em;
}

.course-section-container{
  display: flex;
/*  justify-content: space-around;*/
}

.course-section-container > .item{
/*  border: solid 1px #ddd;*/
}
.section-toolbar{
  color: blue;
  right:0;
}
.log-message{
    font-family: monospace;
    padding: .25em .5em;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
}    
.log-message.error{
    color:#fff;
    background: red;
}
.log-message.success{
    color:#fff;
    background: green;
}
.log-message.warning{
    color:maroon;
    background: yellow;
}